<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>

        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
            <leftJoint>right_drive_wheel_1_joint</leftJoint>
            <rightJoint>left_drive_wheel_1_joint</rightJoint>
            <wheelSeparation>.5</wheelSeparation>
            <wheelDiameter>0.2</wheelDiameter>


            <wheelTorque>200</wheelTorque>
            <wheelAcceleration>10.0</wheelAcceleration>
            <updateRate>100.0</updateRate>

            <commandTopic>cmd_vel</commandTopic>

            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometrySource>1</odometrySource>
            <robotBaseFrame>base_link</robotBaseFrame>

            <publish_odom>true</publish_odom>
            <publishOdomTF>true</publishOdomTF>
            <publishWheelTF>true</publishWheelTF>
            <publishTf>1</publishTf>
            <publishWheelJointState>true</publishWheelJointState>

            <rosDebugLevel>na</rosDebugLevel>

        </plugin>
        
    </gazebo>

</robot>